<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      salvos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="btnLeft" class="card-list" *ngFor="let item of coins.result" (click)="removeSavedCoin(item.name)" tappable>
    <ion-img class="icon" [src]="item.idIcon"></ion-img>
    <div class="name-and-price">
      <ion-label class="crypto-title">{{ item.name }}</ion-label>
      <ion-label class="crypto-price"> US$ {{ item.volume1hrsUsd }},00</ion-label>
    </div>
  </div>